a{
    color: var(--color-2);
}
/* Banner */
.banner-sec{
    width: var(--full-width);
    height: 356px;
    background-image: url("src/img/about-page/banner.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner-title{
    /* max-width: 503px; */
    position: absolute;
    transform: translateX(-50%) translateY(-100%);
    top: 100%;
    left: 50%;
    padding: 38px 0px 38px 0px;
    background-color: #fff;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
}
.banner-title h1,
.banner-title span{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* quotes */
.quotes-sec{
    width: var(--container);
    margin: 200px auto;
}
.quotes-titles{
    max-width: 876px;
    margin: 0px auto;
    padding: 67px 62px;
    text-align: center;
    position: relative;
}
.quotes-titles span{
    width: 730px;
    display: block;
    margin: 0px auto 34px auto;
}
.quotes-titles .pars{
    font-size: 25px;
}
.quote-icon{
    font-size: 60px;
    margin-bottom: 27px;
}
.quotes-titles .left-patt{
    position: absolute;
    transform: translateY(-50%);
    left: 22px;
    top: 50%;
}
.quotes-titles .right-patt{
    position: absolute;
    transform: translateY(-50%) scaleX(-1);
    right: 22px;
    top: 50%;
}
/* What Do */
.result-do-sec{
    width: var(--container);
    margin: 0px auto 150px auto;
    display: flex;
    justify-content: space-between;
}
.result-do-body{
    width: 37%;
    vertical-align: top;
    padding: 21px 0px;
    text-align: start;
}
.result-do-body .pars{
    margin: 23px 0px 41px 0px;
}
.result-do-img{
    width: 56%;
    text-align: end;
    vertical-align: top;
}
.result-do-img img{
    border-radius: 70px;
}
.mb{
    margin-bottom: 173px;
}
/* Team */
.team-sec{
    width: var(--full-width);
    background-color: var(--color-3);
    padding: 185px 0px;
}
.team-container{
    width: var(--container);
    margin: auto;
}
.team-sec h2{
    width: 547px;
    text-align: center;
    margin: 0px auto 40px auto;
}
.team-cards{
    display: flex;
    justify-content: space-around;
}
.team-cards .cards-item{
    max-width: 283px;
    max-height: 433px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.team-cards .cards-item img{
    border-radius: 30px;
}
.team-cards .cards-item .item-body{
    align-items: center;
    width: 101%;
    height: 101%;
    padding: 70px 0px;
    background-color: #fffffff1;
    border: 1.5px solid var(--color-6);
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0%;
    left: 0px;
    transform: translateY(100%);
    transition: transform .3s;
}
.cards-item:hover .item-body{
    transform: translateY(0%);
}
.team-cards .cards-item .item-body .small-pars{
    color: var(--color-4);
}
.team-cards .cards-item .item-body .item-socials{
    margin: 65px 0px;
    padding: 0px 68px;
    display: flex;
    justify-content: space-around;
}
.team-cards .cards-item .item-body .item-socials i{
    transition: all .3s;
}
.team-cards .cards-item .item-body .item-socials i:hover{
    transition: all .3s;
    color: var(--color-1);
}
/* MailForm */
.formbox-sec{
    max-width: 700px;
    margin: 213px auto 135px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formbox-sec h2{
    max-width: 630px;
    text-align: center;
    margin: 0px auto 77px auto;
}
.form-row-1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form-row-1 .form-inp-container{
    width: 300px;
    position: relative;
}
.form-row-1 .form-inp-container input{
    width: 73%;
    padding: 4px 5px 5px 75px;
    font-size: 22px;
    display: block;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-4);
    transition: border-color .3s;
}
.form-row-1 .form-inp-container input:focus{
    border-color: var(--color-1);
    transition: border-color .3s;
}
.form-row-1 .form-inp-container label{
    position: absolute;
    left: -0px;
    top: -13px;
    font-family: jost-regular;
    font-size: 24px;
    color: var(--color-4);
}
.form-row-2{
    margin: 77px 0px 77px 0px;
    position: relative;
    display: flex;
    justify-content: center;
}
.form-row-2 textarea{
    width: 100%;
    padding: 8px 5px 5px 5px;
    font-size: 22px;
    display: block;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-4);
    transition: border-color .3s;
    resize: none;
}
.form-row-2 textarea:focus{
    border-color: var(--color-1);
}
.form-row-2 label{
    position: absolute;
    left: -0px;
    top: -25px;
    font-family: jost-regular;
    font-size: 24px;
    color: var(--color-4);
}