/* Fonts */
@font-face {
    font-family: serif;
    src: url("./src/font/DMSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: jost-regular;
    src: url("./src/font/Jost-Regular.ttf");
}
@font-face {
    font-family: jost-bold;
    src: url("./src/font/Jost-Bold.ttf");
}
@font-face {
    font-family: jost-semibold;
    src: url("./src/font/Jost-SemiBold.ttf");
}
@font-face {
    font-family: jost-italic;
    src: url("./src/font/Jost-Italic.ttf");
}
/* All */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
/* Root */
:root{
    --color-1: #CDA274;
    --color-2: #292F36;
    --color-3: #F4F0EC;
    --color-4: #4D5053;
    --container: 1200px;
    --full-width: 100%;
}
/* Utilities */
.big-heading-title{
    font-family: serif;
    font-size: 50px;
}
.heading-title{
    display: block;
    font-family: serif;
    font-size: 25px; 
}
.pars{
    font-family: jost-regular;
    font-size: 22px;
}
.flesh1{
    width: 17px;
    height: 15px;
    vertical-align: middle;
}
.btn-text{
    font-family: jost-semibold;
    font-size: 18px;
}
/* Header */
header{
    width: var(--container);
    margin: 0px auto;
    padding: 43px;
    vertical-align: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 177px;
    height: 50px;
}
.main-nav , .main-nav ul , .main-nav ul li , .main-nav ul li a{
    display: inline-block;
    vertical-align: middle;
    color: var(--color-2);
    font-size: 20px;
    font-family: jost-regular;
}
.main-nav ul li{
    margin-right: 28px;
    position: relative;
}
.nav-item::before{
    content: "";
    height: 3px;
    background-color: var(--color-1);
    width: 0px;
    position: absolute;
    transform: translate(-50% , -50%);
    bottom: -4px;
    left: 50%;
    transition: all .3s ease;
}
.nav-item:hover.nav-item::before{
    width: 110%;
}
.search-icon{
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
/* Banner */
.banner{
    background-image: url("./src/img/banner.png");
    background-position: bottom;
    width: var(--full-width);
    height: 920px;
    position: relative;
}
.banner-title{
    width: 567px;
    position: absolute;
    transform: translate(-50% , -50%);
    /* transform: translateY(-50%); */
    top: 40%;
    left: 32%;
}
.banner-main-title{
    display: block;
    margin-bottom: 9px;
    font-family: serif;
    font-size: 85px;
    color: var(--color-2);
}
.banner-main-subtitle{
    display: block;
    margin-bottom: 21px;
    font-family: jost-regular;
    font-size: 22px;
    word-spacing: 3px;
}
.btn1 {
    display: inline-block;
    margin-top: 21px;
    padding: 26px 48px;
    background-color: var(--color-2);
    color: #fff;
    border-radius: 18px;
    letter-spacing: 1px;
    vertical-align: middle;
    transition: all .3s ease;
}
.btn1:hover{
    background-color: #3a434d;
}
/* Projects */
.projects{
    width: var(--container);
    margin: 130px auto 0px auto;
    display: flex;
    justify-content: space-between;
}
.projects div{
    display: inline-block;
    padding: 8px;
    width: 30%;
    text-align: center;
}
.projects a{
    color: var(--color-4);
    display: block;
}
.project-text{
    display: block;
    margin: 20px 0px 48px 0px;
    color: var(--color-4);
}