/* Fonts */
@font-face {
    font-family: serif;
    src: url("./src/font/DMSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: jost-regular;
    src: url("./src/font/Jost-Regular.ttf");
}
@font-face {
    font-family: jost-bold;
    src: url("./src/font/Jost-Bold.ttf");
}
@font-face {
    font-family: jost-semibold;
    src: url("./src/font/Jost-SemiBold.ttf");
}
@font-face {
    font-family: jost-italic;
    src: url("./src/font/Jost-Italic.ttf");
}
/* All */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
/* Root */
:root{
    --color-1: #CDA274;
    --color-2: #292F36;
    --color-3: #F4F0EC;
    --color-4: #4D5053;
    --color-5: #F4F0EC;
    --color-6: #E7E7E7;
    --container: 1200px;
    --full-width: 100%;
    --swiper-pagination-color: var(--color-1);
    --swiper-pagination-bullet-size: 20px;
}
/* Utilities */
.big-heading-title{
    display: block;
    font-family: serif;
    font-size: 50px;
    color: var(--color-2);
}
.big-nums{
    font-family: serif;
    font-size: 85px;
    color: var(--color-1);
    margin-bottom: 16px;
}
.heading-title{
    display: block;
    font-family: serif;
    font-size: 25px; 
    color: var(--color-2);
}
.pars{
    display: block;
    font-family: jost-regular;
    font-size: 22px;
    color: var(--color-4);
}
.small-pars{
    display: block;
    font-family: jost-regular;
    font-size: 18px;
}
.ultra-small-pars{
    display: block;
    font-family: jost-regular;
    font-size: 16px;
}
.flesh1{
    width: 17px;
    height: 15px;
    vertical-align: middle;
    margin-left: 11px;
}
.flesh2{
    width: 8px;
    height: 18px;
    vertical-align: middle;
}
.btn1 {
    display: inline-block;
    margin-top: 21px;
    padding: 26px 48px;
    background-color: var(--color-2);
    color: #fff;
    border-radius: 18px;
    letter-spacing: 1px;
    vertical-align: middle;
    transition: all .3s ease;
}
.btn1:hover{
    background-color: #3a434d;
}
.btn2 {
    display: inline-block;
    margin-top: 21px;
    padding: 26px 48px;
    background-color: var(--color-1);
    color: #fff;
    border-radius: 18px;
    letter-spacing: 1px;
    vertical-align: middle;
    transition: all .3s ease;
}
.btn2:hover{
    background-color: #ebbc89;
}
.btn-text{
    font-family: jost-semibold;
    font-size: 18px;
    vertical-align: middle;
}
.vertical-border-box{
    border-right: 0.5px solid var(--color-1);
}
.vertical-nav{
    list-style: none;
}
.vertical-nav .pars{
    display: block;
    font-family: jost-regular;
    font-size: 22px;
    color: var(--color-4);
    padding: 8px 0px;
    margin: 5px 0px;
    transition: all .3s ease;
}
.vertical-nav .pars:hover{
    color: var(--color-1);
}
/* Header */
header{
    width: var(--container);
    margin: 0px auto;
    padding: 5px 43px;
    vertical-align: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 177px;
    height: 50px;
}
.main-nav , .main-nav ul , .main-nav ul li , .main-nav ul li a{
    display: inline-block;
    vertical-align: middle;
    color: var(--color-2);
    font-size: 20px;
    font-family: jost-regular;
    padding: 12px 0px;
}
.main-nav ul li{
    margin-right: 28px;
    position: relative;
}
.nav-item::before{
    content: "";
    height: 3px;
    background-color: var(--color-1);
    width: 0px;
    position: absolute;
    transform: translate(-50% , -50%);
    bottom: 16px;
    left: 50%;
    transition: all .3s ease;
}
.nav-item:hover.nav-item::before{
    width: 110%;
}
.search-icon{
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
/* Banner */
.banner{
    background-image: url("./src/img/banner.png");
    background-position: bottom;
    width: var(--full-width);
    height: 920px;
    position: relative;
}
.banner-title{
    width: 567px;
    position: absolute;
    transform: translate(-50% , -50%);
    /* transform: translateY(-50%); */
    top: 40%;
    left: 32%;
}
.banner-main-title{
    display: block;
    margin-bottom: 9px;
    font-family: serif;
    font-size: 85px;
    color: var(--color-2);
}
.banner-main-subtitle{
    display: block;
    margin-bottom: 21px;
    font-family: jost-regular;
    font-size: 22px;
    word-spacing: 3px;
}
/* works */
.works-sec{
    position: relative;
    margin: 0px auto;
}
.works-sec .works-slider{
    width: var(--container);
    margin: 130px auto;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
}
.works-sec .works-slider .works-container{
    width: var(--container);
    margin: 0px auto;
    /* margin-left: 35px; */
}
.works-sec .works-slider .works-container .works-item{
    max-width: 357px;
    text-align: center;
    margin: auto;
}
.works-sec .works-slider .works-container .works-item .pars{
    margin: 20px 0px 52px 0px;
}
.works-sec .works-swiper-button-prev{
    position: absolute;
    left: 50px;
    top: 45%;
    width: 50px;
    height: 50px;
    background-color: var(--color-5);
    padding: 14px;
    border-radius: 50%;
    color: var(--color-1);
}
.works-sec .works-swiper-button-next{
    position: absolute;
    right: 50px;
    top: 45%;
    width: 50px;
    height: 50px;
    background-color: var(--color-5);
    padding: 14px;
    border-radius: 50%;
    color: var(--color-1);
}
.works-sec a{
    color: var(--color-4);
    display: block;
}
.works-sec .work-text{
    display: block;
    margin: 20px 0px 48px 0px;
    color: var(--color-4);
}
/* About */
.about{
    width: var(--container);
    margin: 0px auto 170px auto;
}
.about .about-title{
    display: inline-block;
    width: 40%;
    padding: 43px 0px;
    vertical-align: top;
}
.about .about-title h2{
    padding-right: 52px;
    line-height: 62px;
    margin-bottom: 33px;
}
.about .about-title > span{
    padding-right: 40px;
    margin-bottom: 45px;
    color: var(--color-4);
}
.call{
    margin: 45px 0px 47px 0px;
}
.call div{
    display: inline-block;
    vertical-align: middle;
}
.call .call-icon{
    padding: 28px;
    background-color: var(--color-5);
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
}
.call .call-icon img{
    width: 32px;
}
.call .call-num{
    color: var(--color-4);
}
.call .call-num .tel{
    font-size: 24px;
    letter-spacing: 1.5px;
}
.about .about-img{
    display: inline-block;
    text-align: end;
    width: 58%;
    vertical-align: top;
}
/* Testimonial */
.testimonial{
    width: var(--container);
    margin: auto;
    padding: 88px 24px 10px 24px;
    text-align: center;
    background-color: var(--color-5);
    border-radius: 70px;
}
.testimonial-slider{
    padding-bottom: 70px;
}
.testimonial-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin-top: 38px;
    position: relative;
}
.testimonial-item{
    max-width: 324px;
    height: 210px;
    background-color: #fff;
    padding: 53px 30px;
    border-radius: 35px;
    overflow: hidden;
}
.testimonial-pagination{
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 60px;
}
.testimonial-item .item-head{
    margin-bottom: 22px;
    text-align: start;
}
.testimonial-item .item-head .head-img img{
    width: 77px;
    margin-right: 23px;
    border-radius: 50%;
}
.testimonial-item .item-head div{
    display: inline-block;
    vertical-align: middle;
}
.testimonial-item .item-head .head-inf{
    text-align: start;
}
.testimonial-item .item-body{
    text-align: start;
}
/* brands*/
.brands-sec{
    max-width: var(--container);
    overflow: hidden;
    margin: auto;
    position: relative;
}
.brands-sec .brands-slider {
    width: var(--container);
    overflow: hidden;
  }
.brands-container{
    width: 340px;
    margin: 140px auto;
    padding: 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-timing-function: linear;
}
.brands-slider::after,
.brands-slider::before{
    content: "";
    display: block;
    width: 600px;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.brands-slider::after{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgb(255, 255, 255) 100%);
    right: 0px;
    top: 0px;
}
.brands-slider::before{
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgb(255, 255, 255) 100%);
    left: 0px;
    top: 0px;
}
/* Projects */
.projects-sec{
    width: var(--container);
    margin: 0px auto 130px auto;
}
.projects-sec .projects-head{
    text-align: center;
    width: 60%;
    margin: 0px auto 90px auto;
}
.projects-sec .projects-head h2{
    margin-bottom: 12px;
}
.projects-sec .project-items .project-row{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 100px;
    margin-bottom: 55px;
}
.projects-sec .project-items .project-row .project-item .item-img{
    margin-bottom: 24px;
}
.projects-sec .project-items .project-row .project-item .item-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects-sec .project-items .project-row .project-item .item-body span{
    margin-bottom: -5px;
}
.projects-sec .project-items .project-row .project-item .item-body .body-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Counter */
.counter-sec{
    width: var(--full-width);
    background-color: var(--color-5);
    padding: 140px 0px;
    margin-bottom: 190px;
}
.counter-container{
    width: var(--container);
    margin: 0px auto;
    text-align: center;
}
.counter-item{
    display: inline-block;
    padding: 0px 54px;
}
/* Blog */
.blog-sec{
    width: var(--container);
    margin: 0px auto;
}
.blog-head{
    text-align: center;
    padding: 0px 200px;
    margin-bottom: 52px;
}
.blog-sec .blog-head h2{
    margin-bottom: 12px;
}
.blog-sec .blog-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 27px;
}
.blog-sec .blog-container .blog-item{
    position: relative;
    width: 30%;
    padding: 21px;
    border: 1px solid var(--color-6);
    border-radius: 62px;

}
.blog-sec .blog-container .blog-item:nth-child(2n){
    background-color: var(--color-5);
}
.blog-sec .blog-container .blog-item .item-img{
    position: relative;
    overflow: hidden;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-bottom: 11px;
}
.blog-sec .blog-container .blog-item .item-img .badge{
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 4px 9px 6px 9px;
    position: absolute;
    left: 20px;
    bottom: 21px;
}
.blog-sec .blog-container .blog-item .item-img img{
    width: 100%;
}
.blog-sec .blog-container .blog-item .item-body .heading-title{
    padding-right: 35px;
    height: 100px;
}
.blog-sec .blog-container .blog-item .item-body .item-footer{
    margin-top: 30px;
    margin-bottom: 20px;
}
.blog-sec .blog-container .blog-item .item-body .item-footer .ultra-small-pars{
    position: absolute;
    left: 22px;
    bottom: 38px;
    display: inline-block;
}
.blog-sec .blog-container .blog-item .item-body .item-footer a{
    display: inline-block;
    text-align: end;
}
.blog-sec .blog-container .blog-item .item-body .item-footer .btn{
    background-color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: end;
    position: absolute;
    right: 22px;
    bottom: 25px;
}
.blog-sec .blog-container .blog-item:nth-child(2n) .item-body .item-footer .btn{
    background-color: #fff;
}
.blog-sec .blog-container .blog-item .item-body .item-footer .btn img{
    width: 6px;
    height: 14px;
}
/* Contact */
.contact-sec{
    width: var(--container);
    margin: 200px auto 135px auto;
    background-color: var(--color-2);
    border-radius: 70px;
    text-align: center;
}
.contact-body{
    padding: 80px 315px;
}
.contact-sec .big-heading-title{
    color: #fff;
    margin-bottom: 11px;
}
.contact-sec .pars{
    color: #fff;
    margin-bottom: 32px;
}
/* Footer */
.footer-sec{
    width: var(--container);
    margin: 0px auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
}
.footer-side-1{
    width: 393px;
    vertical-align: top;
}
.footer-side-1 .logo{
    margin-bottom: 18px;
}
.footer-side-1 .socials{
    margin-top: 30px;
}
.footer-side-1 .socials a{
    padding: 10px;
    margin-right: 30px;
}
.footer-side-1 .socials i{
    font-size: 30px;
    color: var(--color-2);
}
.footer-side-2{
    width: 125px;
}
.footer-side-3{
    width: 120px;
}
.footer-side-4{
    width: 258px;
}
.footer-side-4 h3{
    margin-bottom: 13px;
}
.footer-side-4 span{
    margin: 23px 0px;
}
/* Copy */
.copy-sec{
    width: var(--full-width);
    padding: 20px 0px;
    text-align: center;
    background-color: var(--color-2);
    border-top: 1px solid var(--color-6);
}
.copy-sec p{
    color: #fff;
    font-family: jost-regular;
    font-size: 20px;
}