/* Fonts */
@font-face {
    font-family: serif;
    src: url("./src/font/DMSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: jost-regular;
    src: url("./src/font/Jost-Regular.ttf");
}
@font-face {
    font-family: jost-bold;
    src: url("./src/font/Jost-Bold.ttf");
}
@font-face {
    font-family: jost-semibold;
    src: url("./src/font/Jost-SemiBold.ttf");
}
@font-face {
    font-family: jost-italic;
    src: url("./src/font/Jost-Italic.ttf");
}
/* All */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
/* Root */
:root{
    --color-1: #CDA274;
    --color-2: #292F36;
    --color-3: #F4F0EC;
    --color-4: #4D5053;
    --color-5: #F4F0EC;
    --container: 1200px;
    --full-width: 100%;
}
/* Utilities */
.big-heading-title{
    display: block;
    font-family: serif;
    font-size: 50px;
    color: var(--color-2);
}
.heading-title{
    display: block;
    font-family: serif;
    font-size: 25px; 
    color: var(--color-2);
}
.pars{
    display: block;
    font-family: jost-regular;
    font-size: 22px;
    color: var(--color-4);
}
.small-pars{
    display: block;
    font-family: jost-regular;
    font-size: 18px;
}
.flesh1{
    width: 17px;
    height: 15px;
    vertical-align: middle;
}
.btn-text{
    font-family: jost-semibold;
    font-size: 18px;
}
/* Header */
header{
    width: var(--container);
    margin: 0px auto;
    padding: 43px;
    vertical-align: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 177px;
    height: 50px;
}
.main-nav , .main-nav ul , .main-nav ul li , .main-nav ul li a{
    display: inline-block;
    vertical-align: middle;
    color: var(--color-2);
    font-size: 20px;
    font-family: jost-regular;
}
.main-nav ul li{
    margin-right: 28px;
    position: relative;
}
.nav-item::before{
    content: "";
    height: 3px;
    background-color: var(--color-1);
    width: 0px;
    position: absolute;
    transform: translate(-50% , -50%);
    bottom: -4px;
    left: 50%;
    transition: all .3s ease;
}
.nav-item:hover.nav-item::before{
    width: 110%;
}
.search-icon{
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
/* Banner */
.banner{
    background-image: url("./src/img/banner.png");
    background-position: bottom;
    width: var(--full-width);
    height: 920px;
    position: relative;
}
.banner-title{
    width: 567px;
    position: absolute;
    transform: translate(-50% , -50%);
    /* transform: translateY(-50%); */
    top: 40%;
    left: 32%;
}
.banner-main-title{
    display: block;
    margin-bottom: 9px;
    font-family: serif;
    font-size: 85px;
    color: var(--color-2);
}
.banner-main-subtitle{
    display: block;
    margin-bottom: 21px;
    font-family: jost-regular;
    font-size: 22px;
    word-spacing: 3px;
}
.btn1 {
    display: inline-block;
    margin-top: 21px;
    padding: 26px 48px;
    background-color: var(--color-2);
    color: #fff;
    border-radius: 18px;
    letter-spacing: 1px;
    vertical-align: middle;
    transition: all .3s ease;
}
.btn1:hover{
    background-color: #3a434d;
}
/* works */
.works{
    width: var(--container);
    margin: 150px auto 150px auto;
    display: flex;
    justify-content: space-between;
}
.works div{
    display: inline-block;
    padding: 8px;
    width: 30%;
    text-align: center;
}
.works a{
    color: var(--color-4);
    display: block;
}
.work-text{
    display: block;
    margin: 20px 0px 48px 0px;
    color: var(--color-4);
}
/* About */
.about{
    width: var(--container);
    margin: 0px auto 170px auto;
}
.about .about-title{
    display: inline-block;
    width: 40%;
    padding: 43px 0px;
    vertical-align: top;
}
.about .about-title h2{
    padding-right: 52px;
    line-height: 62px;
    margin-bottom: 33px;
}
.about .about-title > span{
    padding-right: 40px;
    margin-bottom: 45px;
    color: var(--color-4);
}
.call{
    margin: 45px 0px 47px 0px;
}
.call div{
    display: inline-block;
    vertical-align: middle;
}
.call .call-icon{
    padding: 28px;
    background-color: var(--color-5);
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
}
.call .call-icon img{
    width: 32px;
}
.call .call-num{
    color: var(--color-4);
}
.call .call-num .tel{
    font-size: 24px;
    letter-spacing: 1.5px;
}
.about .about-img{
    display: inline-block;
    text-align: end;
    width: 58%;
    vertical-align: top;
}
/* Testimonial */
.testimonial{
    width: var(--container);
    margin: auto;
    padding: 88px 24px 88px 24px;
    text-align: center;
    background-color: var(--color-5);
    border-radius: 70px;
}
.testimonial-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin-top: 38px;
}
.testimonial-item{
    width: 28%;
    background-color: #fff;
    padding: 53px 30px;
    border-radius: 35px;
}
.testimonial-item .item-head{
    margin-bottom: 22px;
    text-align: start;
}
.testimonial-item .item-head .head-img img{
    width: 77px;
    margin-right: 23px;
    border-radius: 50%;
}
.testimonial-item .item-head div{
    display: inline-block;
    vertical-align: middle;
}
.testimonial-item .item-head .head-inf{
    text-align: start;
}
.testimonial-item .item-body{
    text-align: start;
}
/* brands*/
.brand-sec{
    width: var(--container);
    margin: 140px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}